/**
 * Manrope Font
 * Version: 4.504
 *
 * Modern geometric sans-serif
 * @link https://manropefont.com/
 *
 */

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/M-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/M-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/M-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/M-700.woff2') format('woff2');
}

/**
 * JetBrains Mono Font
 * Version: 2.225
 *
 * A typeface for developers
 * @link https://www.jetbrains.com/lp/mono/
 *
 */

@font-face {
  font-family: 'JBMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/JBM-400.woff2') format('woff2');
}
